.newrow{
  display: flex;
  width: 4 * .8333%

}


.pokeHeader{
    height: 200px;
}

.poke {
    height: 15%;
    margin: 10px 50px
}

h1 {
    margin: 20px 10px 10px 10px;
    text-align: center;
    font-family: 'Work Sans', sans-serif
}

.red {
    background-color: red;
    height: 25px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.darkBorder {
    border-top: solid 6px black;
    

}

.colMax{

    width: calc(4 * 8.333%)
}