  .modal{
      display: flex;
      flex-wrap: wrap;
  }

  .profile{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue; 
    /* background-color: yellow;  */
  }


  .col-12{
    display: flex;
    width: 100%;
    overflow: auto;
    white-space: nowrap;

  }

  .edit{

    text-align: center;
    letter-spacing: .5px;
  }
  