.backgroundColor{
    /* background-color: #8a0000; */
}

profile{
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
  overflow: auto;
  white-space: nowrap;
}

.homeLink{
  margin-left: 25px;
  margin-right: 5px;
}

div.scrollmenu {
    /* background-color: white; */
    overflow: auto;
    white-space: nowrap;
  }

  div.scrollmenu button {
    display: inline-block;
    /* color: white; */
    text-align: center;
    padding: 14px;
    text-decoration: none;
    margin: 10px;
  }

  
  div.scrollmenu button:hover {
    /* background-color: #777; */
  }

  .goRight{
    letter-spacing: .5em;
    font-size: 30px;
}
.withMargin{
    height: 33%;
}
.btn{
    margin: 10px;
}
.close{
    margin:.5px;
}